<header class="w-100 float-left header-con">
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <a class="navbar-brand" href="index.html"><img src="assets/images/logo-icon.png" alt="logo-icon"></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link p-0" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-0" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-0" href="service.html">Services</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-0" href="javascript:void(0)" id="navbarDropdown"
                           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Blog
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="blog.html">blog</a>
                            <a class="dropdown-item" href="single-blog.html">single-blog</a>
                            <a class="dropdown-item" href="four-column.html">four-column</a>
                            <a class="dropdown-item" href="one-column.html">one-column</a>
                            <a class="dropdown-item" href="load-more.html">load-more</a>
                            <a class="dropdown-item" href="six-colum-full-wide.html">six-colum-full-wide</a>
                            <a class="dropdown-item" href="three-column.html">three-column</a>
                            <a class="dropdown-item" href="three-colum-sidbar.html">three-colum-sidbar</a>
                            <a class="dropdown-item" href="two-column.html">two-column</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-0" href="shop.html">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-0" href="pricing.html">Pricing</a>
                    </li>
                </ul>
                <div class="generic-btn white-btn header-btn">
                    <a href="contact.html">Contact Us</a>
                </div>
                <div class="social-icon">
                    <ul class="list-unstyled mb-0 d-flex">
                        <li><a href="https://www.facebook.com/"><i
                                class="fab fa-facebook-f d-flex align-items-center justify-content-center"></i></a>
                        </li>
                        <li><a href="https://twitter.com/"><i
                                class="fab fa-twitter d-flex align-items-center justify-content-center"></i></a>
                        </li>
                        <li><a href="https://pk.linkedin.com/"><i
                                class="fab fa-linkedin-in d-flex align-items-center justify-content-center"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>